.vscode
resource/*/*.co
resource/*/*.param
resource/*/*.s
resource/*/*.o
resource/*/*.co
resource/*/*.bc
resource/*/*.cui
resource/*/*.out
resource/*/*.txt
build*
cmake-build-debug
.idea
evaluation/*/*.pdf
evaluation/*/*.dat
evaluation/*/*.eps
script/__pycache__
script/rt_dnn/__pycache__
src/reef/rpc/*